<html dir="rtl">
  <head>
  	<meta charset="utf-8"></meta>
  	<title>חולה על עשרת הדיברות!!</title>
  	<link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="dibra">
    	<p>הדיברה האהובה עלי היא {{ dibra }}</p>
    </div>
  </body>
  </html>