<html dir="rtl">
  <head>
  	<meta charset="utf-8"></meta>
  	<title>מה צופן לי העתיד?</title>
  	<link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="future">
    	<p>בעוד 5 שנים את הולכת לריב עם {{ friend }}, מזל שסבתא {{ grandma }} תהיה שם כדי לנחם אותך!</p>
    	<p> הולכים להיות לך {{ bus }} ילדים שנראים כמו {{ animal }}</p>
    	<p> לסיכום רצינו לומר לך: {{ curse }}!!</p>
      <p> ביוש :) </p>
    </div>
  </body>
  </html>