h1 {
	color: purple;
	text-align: center;
	text-decoration: underline;
	text-shadow: 5px 5px 3px grey;
	font-size: 300%;
}

span {
	background-color: yellow;
	padding: 0px 50px;
	border-radius: 10px;
}
p#hara{
	color:yellow;
}
body{
	background: black;
	background: url('Candy.jpg');
}
div {
	text-align: center;
}
li{
	color: brown;
}
img{
	border: 30px solid #00BABA;
}
table{
	color:green;
}
table, td{
	border: 1px solid yellow;
}
#ynet{
	float: right;
}
#et{
	float: left;
}
input{
	width: 400px;
	height: 25px;
}
#future
{
	background-color: black;
	color: orange;
	text-align: center;
	font-size: 300%;
}
#form
{
	color: pink;
	background-color: black;
	text-align: center;
	font-size: 250%;

}
#dibra
{
	background-color: black;
	color: orange;
	text-align: center;
	font-size: 300%;
}